*{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
body{
    background-color: rgb(41, 39, 39);
}
.hero{
     position: relative;
    background-image: url('mam.png');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.heading{
    color: white;
    justify-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
}
.heading p{
    font-size: 20px;
    font-style: italic;
}
.heading h3{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading h4{
    font-size: 23px;
}
.heading h6{
    color: rgb(0, 0, 0);
}
.batch-two{
    display: flex;
    background-color: black;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.right{
    color: white;
    margin-top: 70px;
    
}
.event{
    justify-items: center;
    font-size: 28px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
}
.batch-three{
     display: flex;
    background-color: black;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.divide{
    display: flex;
}
.batch-three-right{
    color: white;      
}
.batch-three-left{
    color: white;
    margin-bottom: 40px;

                               
}
.gallery{
    background-color: black;
    color: white;
    justify-items: center;
    margin-bottom: 0px;
}
.gallery h3{
    margin-top: 0px;
    padding: 20px;
}
.img-gal{
    justify-items: center;
    padding-bottom: 30px;
    padding-left: 40px;
}
.img-gal img{
    margin-bottom: 10px;
}
.bottom{
     position: relative;
    background-image: url('pluto.png');
    background-size: cover;
    height: 600px;
    
}