*{
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 100%;
}
body{
    background-color: rgb(41, 39, 39);
    flex-grow: 0%;
}
.hero{
     position: relative;
    background-image: url('mam.png');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.heading{
    color: white;
    justify-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
}
.heading p{
    font-size: 20px;
    font-style: italic;
}
.heading h3{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading h4{
    font-size: 23px;
}
.heading h6{
    color: rgb(0, 0, 0);
}
.batch-two{
    display: flex;
    background-color: black;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.right{
    color: white;
    margin-top: 70px;
    justify-items: center;
}
.event{
    justify-items: center;
    font-size: 28px;
    padding-top: 15px;
    color: white;
    font-weight: bold;
}
.batch-three{
    background-image: url(7b8f647c7d91e6158ac2ff8a18ffd165\ -\ Copy.png);
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.batch-three h6{
    font-size: 15px;
}
.divide{
    display: flex;
}
.batch-three-right{
    color: white;
    

}
.batch-three-left{ 
    margin-bottom: 40px;

                               
}
.gallery{
    color: white;
    background-size: cover;
    background-position: center;
    justify-items: center;
}
.gallery h3{
    margin-top: 0px;
    padding: 20px;
}
.gallery img{
    margin-bottom: 10px;
}
.bottom{
    background-image: url('pluto.png');
    background-size: cover;
    height: 500px;
    justify-items: center;
    color: white;
}
.bottom-text{
    
}
.bottom p{
    font-size: 40px;
    display: flex;
    padding-top: 100px;
}
.bottom h2{
    font-size: 15px;
    display: flex;
    padding-top: 240px;
}

/* Styles for small screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }
}

/* Default styles for large screens */
.container {
  max-width: 1200px;
  margin: 0 auto;
}